*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}
body{
    background-color: #cacaca;
    text-decoration-line: none;
}
.titulo{
    padding: 0;
    margin: 0;
    height: 100px;
    background-color: rgb(255, 204, 0);
    text-align: center;
    line-height: 100px;
}
span{
    font-size: 30px;
}
.contenido{
    width: 90%;
    max-width: auto ;
    margin: 30px auto;
    font-size: 30px ;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, auto);

    grid-template-areas:"curriculum problemas"
}
.botones{
    height: 45px;
	line-height: 45px;
	width: 100%;
	background-color: #cacaca;
	color: #1d2f3d;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1 ease all;
    border: solid 2px #000;
    border-radius:20px;
    grid-area: problemas;
    font-size: 20px;
}
.botones:hover{
    background-color: #1d2f3d ;
    color: #cacaca;
}