.header{
    background-color: $verde;
    .contenido-header{
       padding:$rem5 / 2 0; 
        @include tablet{
            display: flex;
            justify-content: space-between;
            align-items:center;
        }
    }
    h1{
        margin-bottom: 1rem;
        color:  $blanco;
        text-align: center;
        @include tablet{
            margin: 0;
        }
    }
}
.navegacion-principal{
    display: flex;
    gap:2rem;
    justify-content: center;
    a{
        color: $blanco;
        
        &:hover{
            color: $amarillo;
        }
    }
    
}
